* {
    font-family: sans-serif;
}

body {
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
}


header {
    padding: 20px;
    background-color: rgb(9, 34, 44);
    text-align: center;
}


.title {
    color: white;
    font-size: 40px;
    line-height: 50px ;
}

nav {
    display: flex;
    justify-content: center;
}

.subtitle {
    margin: 0%;
    text-align: center;
    font-size: 40px;
}
.information {
    margin: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-me,
.contact-info,
.projects {
    border-width: 1px;
    border-style: solid;
    padding: 30px;
    text-align: center;
    background-color: rgb(9, 34, 44);
    color: white;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.item {
    border: 5px solid rgb(9, 34, 44);
}


@media screen and {max-width: 772px;   
 .links {
    width: 50%;
 }
}0